
backend/mandifresh-ci4/.env


backend/mandifresh-ci4/vendor/


backend/mandifresh-ci4/writable/cache/*
backend/mandifresh-ci4/writable/logs/*
backend/mandifresh-ci4/writable/session/*
backend/mandifresh-ci4/writable/uploads/*

node_modules/


.vscode/

Thumbs.db
.DS_Store